body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.03em;
    background-color: #f8f8f8;
    margin: 0;
}

h2 {
    margin-bottom: 5px;
}

blockquote {
    font-size: 1.01em;
    background-color: #f5f5f5;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

div#content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 30px 30px;
    color: #282828;
    line-height: 1.8;
}

div#inner {
    width: 85%;
    padding: 0 0 20px 20px;
    border-left: 1px dashed #d4d4d4;
    float: left;
}

div#inner-left {
    width: 65%;
    padding-left: 20px;
    border-left: 1px dashed #d4d4d4;
    float: left;
}

div#inner-right {
    width: 20%;
    padding-left: 10px;
    position: fixed;
    left: 60%;
    border-left: 1px dashed #d4d4d4;
}

div.article {
    font-size: 1.01em;
}

/*logo*/
div#night-owl {
    width: 160px;
    height: 82px;
    margin: 5px 7px 0 0;
    float: left;
    background: url('../img/night-owl.png') no-repeat;
}

/*code format*/
div#inner pre {
    font-size: 0.95em !important;
    border-radius: 10px;
    padding: 0 5px 0 5px;
    word-wrap: break-word;
    white-space: normal;
}

div#inner div.article i {
    -moz-border-radius:3px;
    -moz-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    -webkit-border-radius:3px;
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    background-color:#f7f7f7;
    border:1px solid #ccc;
    border-radius:3px;
    box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    color:#333;
    display:inline-block;
    font-family:Arial,Helvetica,sans-serif;
    font-size: 90%;
    font-style: normal;
    line-height:1.4;
    margin:.2em .1em;
    padding:.1em .6em;
    text-shadow:0 1px 0 #fff;
    position: relative;
    bottom: .15em;
}

/*meta icons*/
ul.meta {
    display: inline-block;
    margin: 0;
    padding: 0;
}

ul.meta li {
    display: inline;
    margin-right: 40px;
    background: no-repeat;
}

ul.meta li:before, div#inner a.link:before, ul.meta a:before {
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    top: 3px;
    right: 4px;
    content: "";
}

ul.meta li.date:before {
    background: url("../meta.svg");
}

ul.meta li.tag:before {
    background: url("../meta.svg") -18px 0;
}

/*inner link*/
div#inner a, ul.meta a {
    color: #484848;
    text-decoration: none;
    border-bottom: 1px solid #C6C1C1;
}

div#inner a.link:hover, ul.meta a:hover, div#inner ul.meta a:hover {
    border-color: #484848;
}

div#inner a.link:before, ul.meta a:before {
    background: url("../meta.svg") -36px 0;
}

div#inner p {
    margin: 7px 0 7px 0;
}

div#inner ul {
    margin: 5px 0 5px 0;
}

div#inner ul li {
    list-style: square;
}

div#inner ul#navigation-footer {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

div#inner ul#navigation-footer li {
    display: inline;
    margin: 0 10px 0 0;
}

div#inner ul#navigation-footer li a {
    border: none;
}

div#inner ul#navigation-footer li i {
    margin-right: 5px;
}

/*button*/
.button {
    display: inline-block;
    min-width: 70px;
    margin: 0 5px 0 5px;
    padding: 5px 5px 9px;
    font: 700 13px/1 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: #777;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    background: #fff;
    text-align: center;
}

.button:hover {
    background: #f5f5f5;
}